@media (max-width: 1000px) {
    /* Estilos para pantallas de 500px o menos */
    .footer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.8rem;
        padding: 0rem 5rem;
        .footerMarcas{
            
            img{
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                object-fit: contain;
                width: 10rem;
            }
        }
        .footerInformacionAdicional{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            h3{
                margin-bottom: 1.8rem;
                font-size: $tamañoTitulos;
                font-weight: 900;
            }
            p{
                max-width: 25rem;
                color: gray;
                font-size: $tamañoParrafos;
            }
            .footerInformacionAdicionalBotones{
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
                .botonDescargasIosFooter{
                    cursor: pointer;
                    width: $anchoBotones;
                    height: $largoBotones;
                    background-color: $colorBotonesIos ;
                    color: white;
                    border-radius: 0.8rem;
                }
                .botonDescargasMacFooter{
                    cursor: pointer;
                    width: $anchoBotones;
                    height: $largoBotones;
                    background-color: $colorBotonesMac ;
                    color: white;
                    border-radius: 0.8rem;
                }
            }
        }
        
    }
    .footerFinal{
            margin-top: 1rem ;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $colorFooter;
            width: 100%;
            height: 9rem;
            .listaItems{
                color: rgb(119, 119, 119);
                font-size: $tamañoParrafos;
                cursor: pointer;
            }
            .footerLogo{
                width: 4rem;
                height: 4rem;
            }
            .redesSociales{
                cursor: pointer;
                width: 2rem;
                height: 2rem;
            }
        }
}

// ---------------------------hacemos el estilo para pantallas de 1001 px hacia adelante----

@media (min-width: 1001px) {
    /* Estilos para pantallas de 500px o menos */
    .footer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.8rem;
        padding: 0rem 5rem;
        .footerMarcas{
            display: flex;
            gap: 2rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            img{
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                object-fit: contain;
                width: 10rem;
            }
        }
        .footerInformacionAdicional{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            margin-bottom: 4rem;
            h3{
                margin-bottom: 1.8rem;
                font-size: $tamañoTitulos;
                font-weight: 900;
            }
            p{
                max-width: 25rem;
                color: gray;
                font-size: $tamañoParrafos;
            }
            .footerInformacionAdicionalBotones{
                display: flex;
                gap: 1rem;
                margin-top:2rem;
                .botonDescargasIosFooter{
                    cursor: pointer;
                    width: $anchoBotones;
                    height: $largoBotones;
                    background-color: $colorBotonesIos ;
                    color: white;
                    border-radius: 0.8rem;
                }
                .botonDescargasMacFooter{
                    cursor: pointer;
                    width: $anchoBotones;
                    height: $largoBotones;
                    background-color: $colorBotonesMac ;
                    color: white;
                    border-radius: 0.8rem;
                }
            }
        }
        
    }
    .footerFinal{
            margin-top: 1rem ;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $colorFooter;
            width: 100%;
            height: 9rem;
            .listaItems{
                color: rgb(119, 119, 119);
                font-size: $tamañoParrafos;
                cursor: pointer;
            }
            .footerLogo{
                width: 4rem;
                height: 4rem;
            }
            .redesSociales{
                cursor: pointer;
                width: 2rem;
                height: 2rem;
            }
        }
}
