$colorPrinciapal:rgb(255, 255, 255);
$colorDarkMode:black;
$colorFooter:rgba(105, 105, 145, 0.32);

// botones
$anchoBotones:12rem;
$largoBotones:2.5rem;
$colorBotonesIos:rgb(28, 192, 200);
$colorBotonesMac: rgb(124, 109, 225);

// textos y mas 
$tamañoParrafos:1rem;
$tamañoTitulos:1.5rem;
$tamañoSubtitulos:1.2rem;

// tipo de letra
$tipoDeLetra:'Bai Jamjuree', sans-serif;
